streamlit>=1.30.0

# Data handling
pandas
numpy
json
# Google Earth Engine & maps
earthengine-api
geemap
folium

# APIs & utilities
requests

# Visualization
pydeck
plotly
matplotlib
seaborn

# Machine Learning
scikit-learn
